name: "Scan - Container"
on: 
  push:
    branches-ignore:
      - main
    tags-ignore:
      - '*'
  pull_request:
    branches:
      - main

env:
  IMAGE_NAME: "localbuild/samplespringbootapp:latest"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK
      uses: actions/setup-java@v2
      with:
        distribution: 'zulu'
        java-version: '17'

    - name: Cache local Maven repository
      uses: actions/cache@v2
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-m2-contscan-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2contscan

    - name: Build local container image
      run: |
        mvn \
        -Dimage=localbuild/samplespringbootapp:latest \
        clean compile jib:dockerBuild

    - name: Scan local container image
      uses: anchore/scan-action@v3
      id: scan
      with:
        image: ${{ env.IMAGE_NAME }}
        #Disabled due to false positive - CVE-2016-1000027 https://github.com/anchore/grype/issues/773
        fail-build: false
        #severity-cutoff: critical
        acs-report-enable: true

    - name: upload Anchore scan SARIF report
      uses: github/codeql-action/upload-sarif@v1
      with:
        sarif_file: ${{ steps.scan.outputs.sarif }}

    - name: Inspect action SARIF report
      if: always()
      run: cat ${{ steps.scan.outputs.sarif }}

    - name: Run Trivy vulnerability scanner
      uses: aquasecurity/trivy-action@master
      id: aquasec
      with:
        image-ref: ${{ env.IMAGE_NAME }}
        format: 'table'
        exit-code: '1'
        ignore-unfixed: true
        vuln-type: 'os,library'
        severity: 'CRITICAL,HIGH'

    - name: Inspect action SARIF report
      if: always()
      run: cat ${{ steps.aquasec.outputs.sarif }}
